<div class="container mt-3">
  <div class="sub-conatiner">
    <div class="jumbotron" >
      <h1 class="display-3">Online Store</h1>
      <p class="lead">Esta es el primera portal web, que le ayudara a comprar las mejors frutas y verduras sin slir de su casa.</p>
      <hr class="my-4">
      <p>si eres usuario nuevo, por favor registrate y comienza a comprar con nosotros, permitenos atenderte</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Contactanos</a>
      </p>
    </div>
    <!----------------------navbar secundaria---------------------->
    <app-logged style="background-color: whitesmoke;"></app-logged>
</div>



