<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" style="z-index: 1;">
  <a class="navbar-brand" href="#"><h3>OnlineStore</h3></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><mat-icon>home</mat-icon><span class="sr-only">(current)</span></a>
      </li>

    </ul>

    <ul class="navbar-nav mx-auto">

      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link" href="#" routerLink="/productos" alt="nos"><mat-icon>move_to_inbox</mat-icon></a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="#" routerLink="/shoppingcar"><mat-icon>shopping_cart</mat-icon></a>
      </li>
      <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link" href="#" routerLink="/login">Login</a>
      </li>
      <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link" href="#" routerLink="/register"><mat-icon></mat-icon>
        </a>
      </li>
      <li class="nav-item" *ngIf="isLogin">
        <a class="nav-link" href="#" (click)="onClickLogout()"><mat-icon>exit_to_app</mat-icon></a>
      </li>
      <li>
        <a class="nav-link" *ngIf="isLogin">{{nombreUsuario}}</a>
      </li>

      <li>
        <img src="{{fotoUsuario}}" class="rounded-circle" *ngIf="isLogin">

      </li>
    </ul>
  </div>
</nav>
