<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">OnlineStore</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>

    </ul>

    <ul class="navbar-nav mx-auto">

      <li class="nav-item" *ngIf="!isAdmin">
        <a class="nav-link" href="#" routerLink="/articulo">articulo</a>
      </li>
      <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link" href="#" routerLink="/login">Login</a>
      </li>
      <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link" href="#" routerLink="/register">Registro</a>
      </li>
      <li class="nav-item" *ngIf="isLogin">
        <a class="nav-link" href="#" (click)="onClickLogout()">Salir</a>
      </li>
      <li>
        <a class="nav-link" *ngIf="isLogin">{{nombreUsuario}}</a>
      </li>
      <li>
        <img src="{{fotoUsuario}}" class="rounded-circle" *ngIf="isLogin">

      </li>
    </ul>
  </div>
</nav>
