<div class="search-div">
  <button class="mat-raised-button" style="width: 15%;" (click)="onCreate()">
    <mat-icon>add</mat-icon>Crear
  </button>

  <mat-form-field class="search-form-field ml-2" style="width: 83%;">
    <input matInput [(ngModel)]="searchKey" placeholder="buscar..." autocomplet="off" (keyup)="aplicarFiltro()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onSearchClear()"><mat-icon>close</mat-icon></button>
  </mat-form-field>
</div>
<div class="example-container mat-elevation-z8">
  <table class="table table-hover" mat-table [dataSource]="dataSource" style="width: 100%;">

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef style="width: 20%;">Nombre</th>
      <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef style="width: 40%;">Descripcion</th>
      <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td >
    </ng-container>
    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef style="width: 15%;">Precio</th>
      <td mat-cell *matCellDef="let element"> {{element.precio}} </td >
    </ng-container>

    <ng-container matColumnDef="disponible">
      <th mat-header-cell *matHeaderCellDef style="width: 15%;">Stock Disp.</th>
      <td mat-cell *matCellDef="let element"> {{element.disponible}} </td >
    </ng-container>
    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef style="width: 5%;">Editar</th>
      <td mat-cell *matCellDef="let element">
        <a class="btn btn-white text-blue" (click)="onEdit(element)">
          <i class="fa fa-edit"></i>
        </a>
      </td >
    </ng-container>
    <ng-container matColumnDef="borrar">
      <th mat-header-cell *matHeaderCellDef style="width: 5%;">Borrar</th>
      <td mat-cell *matCellDef="let element">
        <a class="btn btn-white text-red" (click)="onDelete(element.skey)">
          <i class="fa fa-trash"></i>
        </a>
      </td >
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns:displayedColumns;"></tr>
  </table>

</div>
