<div class="card mt-5">
  <div class="card-body">
    <form  #articuloForm="ngForm" (ngSubmit)="onSubmit(articuloForm)">
      <div class="form-grpup">
        <input type="text"
               class="form-control"
               name="nombre"
               #nombre="ngModel"
               [(ngModel)]="articuloService.selectActiculo.nombre"
               placeholder="nombre del articulo">
      </div>

      <div class="form-grpup">
        <input type="text"
               class="form-control"
               name="descripcion"
               #descripcion="ngModel"
               [(ngModel)]="articuloService.selectActiculo.descripcion"
               placeholder="Breve descripcion del articulo">
      </div>
      <div class="form-grpup">
        <input type="text"
               class="form-control"
               name="img"
               #img="ngModel"
               [(ngModel)]="articuloService.selectActiculo.img"
               placeholder="ruta de la imagen del articulo">
      </div>
      <div class="form-grpup">
        <input type="text"
               class="form-control"
               name="precio"
               #precio="ngModel"
               [(ngModel)]="articuloService.selectActiculo.precio"
               placeholder="precio del articulo">
      </div>
      <div class="form-grpup">
        <input type="text"
               class="form-control"
               name="disponible"
               #disponible="ngModel"
               [(ngModel)]="articuloService.selectActiculo.disponible"
               placeholder="cantidad disponible en stock">
      </div>
      <div class="form-group mt-2" >
        <button class="btn btn-primary" type="submit">
          <i class="fa fa-plus-circle"></i>Agregar Producto
        </button>
        <button class="btn btn-secundary" type="reset" (click)="resetForm(articuloForm)">
          <i class="fa fa-sync-alt"></i>Borrar
        </button>
      </div>
    </form>
  </div>
</div>
